<div class="pages-container">

  <div class="container">
    <div class="search-form-control form-group">
      <%= form_tag contents_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Please enter a style"
        %>
 
        <%= submit_tag "Search", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>

  <div class="all-cards my-5">
    <% @contents.each do |content| %>
      <div class="card" id="content<%= content.id %>">
        <%= link_to content_path(content), class: "card-link" do %>

          <% if content.content_type == "Video" %>
            <img src="<%= content.thumbnail_url %>" class="thumb">
          <% elsif content.content_type == "Blog post" && content.blog_image.attached? %>
            <%= cl_image_tag content.blog_image.key, class: "thumb" %>
          <% end %>
          <div class="card-text">
            <h2><%= content.title.capitalize %></h2>
            <% if current_user&.favorited?(content) %>
              <%= link_to unfavorite_content_path(content) do%>
                <i class="fas fa-heart"></i>
              <% end %>
            <% elsif current_user %>
                <%= link_to favorite_content_path(content) do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <div class="bottom-row">
              <span><%= content.user.username %></span>
            </div>
          </div>
          <!-- 
          <div class="tags">
            <strong><%= content.category %></strong> ||
            <%= content.style %>
          </div>
          -->
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<!--
    <p><%= link_to 'Dashboard', dashboard_path, class: "btn btn-dark" %></p>
          <div class="card_avatar">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
-->
