<div class="container">

  <div class="search-form">
    <%= form_tag contents_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Please enter a style"
      %>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="all-cards">
      <% @contents.each do |content| %>
        <%= link_to content_path(content), class: "card" do %>

          <% if content.content_type == "Video"%>
            <img src="<%= content.thumbnail_url%>" class="thumb">
          <% elsif content.content_type == "blog post"%>
            <%= cl_image_tag content.blog_image.key, class: "thumb" %>
          <% end %>

        <article>
          <h2><%= content.title.capitalize %></h2>
          <p><%= content.description %></p>
          <span><%= content.user.username %></span>
          <!--
          <div class="tags">
            <strong><%= content.category %></strong> || 
            <%= content.style %>
          </div>
          -->
        </article>

        <% end %>
      <% end %>
    </div>

  <p><%= link_to 'Dashboard', dashboard_path, class: "btn btn-dark" %></p>
</div>

<!-- 
          <div class="card_avatar">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
-->
