<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'indexcover.jpg' %>);">

    <div class="search-form-control form-group" >
      <%= form_tag contents_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Please enter a style"
        %>
        <%= submit_tag "Search", class: "btn btn-secondary", id: "search-btn" %>
      <% end %>
    </div>
</div>
<%# <div class="pages-container2">
  <div class="container">
  </div>


</div> %>


<div class="index-card-container">
  <div class="filter-form">
    <%= render 'shared/filter' %>
  </div>


  <div class="all-cards" >
    <% @contents.each do |content| %>
      <div class="card" id="content<%= content.id %>">
        <% if content.user.profile_pic.attached? %>
            <%= cl_image_tag content.user.profile_pic.key, class: "indexcards" %>
        <% else %>
            <%= image_tag "placeholder.jpg" %>
        <% end %>

        <%= link_to content_path(content), class: "card-link" do %>

          <% if content.content_type == "Video" %>
            <img src="<%= content.thumbnail_url %>" class="thumb">
          <% elsif content.content_type == "Blog post" && content.blog_image.attached? %>
            <%= cl_image_tag content.blog_image.key, class: "thumb" %>
          <% end %>

          <div class="card-text">
            <h5><%= content.user.username %> | <%= content.content_type %></h5>
              <% if current_user&.favorited?(content) %>
                <%= link_to unfavorite_content_path(content), id:"unlike-button", remote: true do%>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% elsif current_user %>
                  <%= link_to favorite_content_path(content), id:"like-button", remote: true do %>
                    <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <div class="bottom-row">
              <%= link_to content_path(content), class: "card-link" do %>
              <span><%= content.title.capitalize %></span>
              <% end %>
            </div>
          </div>
          <!--
          <div class="tags">
            <strong><%= content.category %></strong> ||
            <%= content.style %>
          </div>
          -->
        <% end %>
      </div>
    <% end %>

  </div>

</div>

<div class="bottom-link">
  <%= link_to "Back to Top", contents_path%>
</div>
