<div class="index_container">
<h2>Content index</h2>
  <div class="search-form">
    <%= form_tag contents_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Please enter a style"
      %>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary-index" %>
    <% end %>
  </div>

  <div class="all_cards">
    <% @contents.each do |content| %>
      <div class="card">
        <%= link_to content_path(content) do %>
          <img height="400" width="400" src=<%= content.thumbnail_url%> >
        <% end %>
        <% if content.content_type == "blog post"%>
          <%= cl_image_tag content.blog_image.key, width: 300 %>
        <% end %>
        <div class="content_info">
          <h2><%= content.title.capitalize %></h2>
          <p><em><%= content.description %></em></p>
          <p><%= content.category %></p>
          <p><%= content.style %></p>
        </div>
        <div class="card_avatar">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
<p><%= link_to 'Dashboard', dashboard_path %></p>
