<div class="upload-form-image-background">
  <div class="upload-form">
    <h2 class="ml-4"> Teach A Style </h2>
    <form class="simple_form new_content" id="new_content" novalidate="novalidate" enctype="multipart/form-data" action="/contents" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">
      <div class="form-group string required content_title ml-4">
        <input class="form-control string required" type="text" name="content[title]" id="content_title" placeholder = "Title">
      </div>
      <div class="form-group text required content_description  ml-4">
        <textarea class="form-control text required" name="content[description]" id="content_description" placeholder = "Description"></textarea>
      </div>
      <fieldset class="radio_buttons required content_content_type">
        <div id="choices">
          <fieldset class="form-group radio_buttons optional content_content_type ml-4">
            <input type="hidden" name="content[content_type]" value="">
            <div class="form-check form-check-inline" id="content-new-check">
              <input class="content-type-input" type="radio" value="Blog post" name="content[content_type]" id="content_content_type_blog_post">
              <label class="content-type-label mb-0" for="content_content_type_blog_post">
              Blog post
              </label>
            </div>
            <div class="form-check form-check-inline" id="content-new-check">
            <input class="content-type-input" type="radio" value="Video" name="content[content_type]" id="content_content_type_video">
              <label class="content-type-label mb-0" for="content_content_type_video">
              Video
              </label>
            </div>
          </fieldset>
        </div>
        <div class="photo_input hidden">
          <div class="form-group file optional content_blog_image">
            <label class="file optional ml-4" for="content_blog_image"> 
            Blog image
            </label>
            <input class="form-control-file file optional ml-4" type="file" name="content[blog_image]" id="content_blog_image">
          </div>
          <div class="form-group text optional content_text">
            <label class="text optional ml-4" for="content_text">
            Write your blog down here!
            </label>
            <textarea class="form-control text optional ml-4" cols="5" rows="8" name="content[text]" wrap="hard" id="content_text"></textarea>
          </div>
        </div>
        <div class="video_input hidden ml-4">
          <p class="d-flex align-items-center mb-2 mt-2"> 
            Video URL
          <span type="button" data-toggle="modal" data-target="#exampleModalCenter">
              ?
          </span>
          </p>
          <div class="modal fade" data-backdrop="false" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content rodrigo">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle">How to find your "embed" code on YouTube</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= image_tag 'modal.png' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
            <div class="form-group url optional content_video_url">
              <input class="form-control string url optional" placeholder="Insert URL here" type="url" name="content[video_url]" id="content_video_url">
            </div>
        </div>
      </fieldset>
      <div class="form-group select required content_category ml-4">
        <select class="form-control select required" name="content[category]" id="content_category">
          <option value="">Category</option>
          <option value="Artificial">Artificial</option>
          <option value="Chemical treatment">Chemical treatment</option>
          <option value="Natural">Natural</option>
          <option value="Protection">Protection</option>
        </select>
      </div>


      <div class="form-group">
        <label class="control-label check_boxes optional ml-4">Styles</label>
        <input type="hidden" name="content[style][]" value="">
        <div class="category-choices">
          <% Content::STYLES.each do |style| %>
            <input type="checkbox" class="hidden" value="<%= style %>" name="content[style][]" id="post_category_ids_<%= style %>">
            <label for="post_category_ids_<%= style %>" class="category-choice" style='background-image: url(<%=image_path "icons/#{style.downcase.gsub(' ', '_')}.jpg"%>)'>
              <span class="label-text"><%= style %></span>
            </label>
          <% end %>
        </div>
      </div>

      
      <input type="submit" name="commit" value="Upload" class="btn btn-outline-warning ml-4" data-disable-with="Create Content">
    </form>  
  </div>
</div>
