<div class="new_container">
  <div class="form">
    <h2> Teach A Style </h2>
      <%= simple_form_for(@content) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.input :video_url, placeholder: "Insert URL here" %>
        <br>
        <%= f.input :content_type, as: :select, collection: @content_type, prompt: 'Select content type', label: false %> %>
        <%= f.input :categories, as: :select, collection: @categories, prompt: 'Select category', label: false %>
        <%= f.submit class: "btn-primary" %>
      <% end %>
    <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, contents_path, class: "btn-outline-success" %></p>
  </div>
</div>