<div class="new_container">
  <div class="pages-container">
    <div class="form">
      <h2> Teach A Style </h2>
        <%= simple_form_for(@content) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <fieldset class="radio_buttons required content_content_type">
            <legend class="col-form-label">Content type <abbr title="required">*</abbr></legend>
            <div class="content-type-choices">
              <div class="form-check" id="blog-post">
                <input class="hidden" type="radio" name="content[content_type]" id="content_content_type" value="Blog post">
                <label class="collection_radio_buttons" for="content_content_type_">Blog post</label>
              </div>
              <div class="form-check" id="video">
                <input class="hidden" type="radio" name="content[content_type]" id="content_content_type" value="Video">
                <label class="collection_radio_buttons" for="content_content_type_">Video</label>
              </div>
            </div>
          </fieldset>

          <div class="photo_input hidden">
            <%= f.input :blog_image, as: :file, id: "photo" %>
          </div>
          <div class="video_input hidden">
            <%= f.input :video_url, placeholder: "Insert URL here", id: "video" %>
          </div>
        </fieldset>

        <br>
          <%= f.input :category, as: :select, collection: ["Artificial", "Chemical treatment", "Natural", "Protection" ] %>
          <%= f.input :style, as: :select, collection: [ "Afro", "Bantu knots", "Dreadlocks", "Extensions",  "Faux locks", "Headscarves and Headwraps", "Jerry-curl", "Relaxed", "S-curl","Plaits", "Perms", "Weaves" ] %>
        </div>
        <%= f.submit class: "btn-primary" %>
      <% end %>
  </div>
</div>
