<div class="new_container">
  <div class="form">
    <h2> Teach A Style </h2>
      <%= simple_form_for(@content) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.input :video_url, placeholder: "Insert URL here" %>
        <br>
        <%= f.input :content_type, as: :select, collection: ["Artificial", "Chemical Treatment", "Natural", "Protection" ], prompt: 'Select content type' %>
        <%= f.input :category, as: :select, collection: [ "Afro", "Bantu knots", "Dreadlocks", "Extensions",  "Faux locks", "Headscarves and Headwraps", "Jerri-curl", "Relaxed", "S-curl","Plaits", "Perms", "Weaves" ], prompt: 'Select category' %>
        <%= f.submit class: "btn-primary" %>
      <% end %>
    <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, contents_path, class: "btn-outline-success" %></p>
  </div>
</div>
