<div class="container">
  <div class="form">
    <h2> Teach A Style </h2>
    <%= simple_form_for(@content) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.input :photo, as: :file %>
      <br>
      <%= f.input :content_type, as: :select, collection: @content_type, prompt: 'Select content type', label: false %> %>
      <%= f.input :category, as: :select, collection: @category, prompt: 'Select category', label: false %>
      <%= f.submit class: "btn-primary" %>
    <% end %>

    <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, contents_path, class: "btn-outline-success" %></p>
  </div>
</div>