<div class="new_container">
  <div class="form">
    <h2> Teach A Style </h2>
      <%= simple_form_for(@content) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <fieldset class="form-group radio_buttons required content_content_type">
          <legend class="col-form-label pt-0">Content type <abbr title="required">*</abbr></legend>
          <input type="hidden" name="content[content_type]" value="">
          <div class="form-check" id="blog-post">
            <input class="form-check-input radio_buttons required" type="radio" checked="checked" name="content[content_type]" id="content_content_type">
            <label class="form-check-label collection_radio_buttons" for="content_content_type_">Blog post</label>
          </div>
          <div class="form-check" id="step-by-step">
            <input class="form-check-input radio_buttons required" type="radio" checked="checked" name="content[content_type]" id="content_content_type">
            <label class="form-check-label collection_radio_buttons" for="content_content_type_">Step-by-Step</label>
          </div>
          <div class="form-check" id="video">
            <input class="form-check-input radio_buttons required" type="radio" checked="checked" name="content[content_type]" id="content_content_type">
            <label class="form-check-label collection_radio_buttons" for="content_content_type_">Video</label>
          </div>
        </fieldset>

        <div class="photo_input hidden">
          <%= f.input :photo, as: :file, id: "photo" %>
        </div>
        <div class="video_input hidden">
          <%= f.input :video_url, placeholder: "Insert URL here", id: "video" %>
        </div>
          <br>
          <%= f.input :category, as: :select, collection: ["Artificial", "Chemical Treatment", "Natural", "Protection" ] %>
          <%= f.input :style, as: :select, collection: [ "Afro", "Bantu knots", "Dreadlocks", "Extensions",  "Faux locks", "Headscarves and Headwraps", "Jerri-curl", "Relaxed", "S-curl","Plaits", "Perms", "Weaves" ] %>
        </div>
        <%= f.submit class: "btn-primary" %>
      <% end %>
    <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, contents_path, class: "btn-outline-success" %></p>
  </div>
</div>
