<div class="pages-container">
  <% if @content.video_url? %>
      <%= render 'shared/video_show'%>
  <% elsif @content.blog_image %>
    <%= render 'shared/blog_show' %>
  <% end %>

  <div class="links">
    <% if policy(@content).update? %>
      <%= link_to 'Edit', edit_content_path(@content), class: "btn btn-secondary" %>
    <% end %>
  </div>
  
  <div class="comments mt-5">
    <h3>Comments</h3>
    <% if @content.comments.blank? %>
      <p>Be the first to leave a comment :)</p>
    <% else %>
      <ul>
        <% @content.comments.each do |comment| %>
          <li>
            <strong><%= comment.user.username %></strong>
            <br>
            <%= comment.text %>
            <br>
            <% if policy(comment).destroy? %>
              <%= link_to 'Delete comment', content_comment_path(@content, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= simple_form_for [@content, @comment] do |f| %>
      <div class="form-inputs">
        <%= f.input :text %>
      </div>

      <div class="form-actions btn">
        <%= f.button :submit, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
