<body style="background-color: whitesmoke;">

  <div class="container">
    <% if @content.video_url? %>
        <%= render 'shared/video_show'%>
    <% elsif @content.blog_image %>
      <%= render 'shared/blog_show' %>
    <% end %>

    <div class="comments comment-card">
      <h3 id="comments-title">Comments</h3>
      <% if @content.comments.blank? %>
        <p>Be the first to leave a comment :)</p>
      <% else %>
        <% @content.comments.each do |comment| %>
          <div class= "d-flex comment-box align-items-center mb-2">
            <%= cl_image_tag @content.user.profile_pic.key, class: "comment-img" %>
            <div class="d-block">
              <strong id="comment-username"><%= comment.user.username %></strong>
              <% if policy(comment).destroy? %>
                <%= link_to content_comment_path(@content, comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                  <i class="fas fa-trash" id="comment-bin"></i>
                <% end %>
              <% end %>
              <p class="m-0" id="comment-text"><%= comment.text %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="comment-input">
        <%= simple_form_for [@content, @comment], remote: true do |f| %>
          <%= f.input :text, label: "Leave a comment" %>
        <%# <div class="form-actions btn"> %>
          <%= f.button :submit, "Submit", class: "btn btn-comment" %>
        <%#  </div> %>
        <% end %>
      </div>
    </div>
    <!--
    <div class="links">
      <% if policy(@content).update? %>
        <%= link_to 'Edit', edit_content_path(@content), class: "btn btn-secondary" %>
      <% end %>
    </div>
    -->
  </div>
</body>