<div class="blog_show_container mb-4">
  <div class="pages-container">
    <div class="blog_text">
      <h1><%= @content.title %></h1>
      <p><%= @content.description %></p>

      <div class="username-info">
        <h5><%= @content.user.username %></h5>
        <!-- favourite heart -->
        <% if current_user&.favorited?(@content) %>
          <%= link_to unfavorite_content_path(@content) do%>
            <i class="fas fa-heart"></i>
          <% end %>
        <% elsif current_user %>
          <%= link_to favorite_content_path(@content) do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="blog_banner d-flex justify-content-center">
      <%= cl_image_tag @content.blog_image.key %>
    </div>
  
    <div class="blog-content mt-4">
      <p><%= @content.text %></p>
    </div>
  </div>
</div>