<div class="blog_show_container mb-4">
  <div class="pages-container">

    <div class="blog_text">
      <h1><%= @content.title %></h1>
      <div class="d-flex username-info align-items-center mb-2">
       <%= cl_image_tag @content.user.profile_pic.key, class: "comment-img" %>
        <h4><%= @content.user.username %></h4>
          <div class="fav-heart d-block">
        <!-- favourite heart -->
          <% if current_user&.favorited?(@content) %>
            <%= link_to unfavorite_content_path(@content) do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% elsif current_user %>
            <%= link_to favorite_content_path(@content), id:"like-button", remote: true do %>
              <i id="blog-like" class="far fa-heart"></i>
            <% end %>
          <% end %>
          </div>
      </div>
    <div class="blog_banner d-flex justify-content-center">
      <%= cl_image_tag @content.blog_image.key %>
    </div>
    <div class="blog-description">
      <h3><%= @content.description %></h3>
    </div>

    </div>

    <div class="blog-content mt-4">
      <p> <%= @content.text %> </p>
    </div>
  </div>
</div>