<h4>Filter by category</h4>
<%= form_tag contents_path, method: :get do %>
  <% Content::CATEGORIES.each do |category| %>
    <div class="checkbox">
      <%= check_box_tag "category[]", category %>
      <%= category %>
    </div>
  <% end %>
  <%= submit_tag "Filter", class: "btn btn-secondary filter-btn" %>
<% end %>

<h4>Filter by style</h4>
<%= form_tag contents_path, method: :get do %>
  <% Content::STYLES.each do |style| %>
    <div class="checkbox">
      <%= check_box_tag "style[]", style %>
      <%= style %>
    </div>
  <% end %>
  <%= submit_tag "Filter", class: "btn btn-secondary filter-btn" %>
<% end %>

<!--
<h4>Filter by content type</h4>
<%= form_tag contents_path, method: :get do %>
  <% Content::CONTENT_TYPE.each do |content_type| %>
    <div class="checkbox">
      <%= check_box_tag "content_type[]", content_type %>
      <%= content_type %>
    </div>
  <% end %>
  <%= submit_tag "Filter", class: "btn btn-secondary" %>
<% end %>
-->

<%= link_to 'All results', contents_path %>
