<%#= form_tag contents_path, method: :get do %>
  <%# <% Content::CATEGORIES.each do |category| %>
    <%# <div class="checkbox"> %>
      <%# <%= check_box_tag "category[]", category %>
      <%# <%= category %>
    <%# </div> %>
  <%# <% end %>
  <%# <%= submit_tag "Filter", class: "btn btn-secondary filter-btn" %>
<%# <% end %>
<!--
<form action="/contents" accept-charset="UTF-8" method="get">
    <div class="form-check2 form-check-inline checkbox">
      <input type="checkbox" name="category[]" id="category_" value="Natural" class="content-type-input hidden">
      <label class="content-type-label">
        Natural
      </label>
    </div> -->
<div class="sticky-filter" id="filter-fixed">
<h4 class="border-bottom border-secondary filter-header">CATEGORY</h4>
<form>
    <ul class="ks-cboxtags">
    <li><input type="checkbox" id="checkboxOne" name="category[]" id="category_" value="Natural"><label for="checkboxOne">Natural</label></li>
    <li><input type="checkbox" id="checkboxTwo" name="category[]" id="category_" value="Artificial"><label for="checkboxTwo">Artificial</label></li>
    <li><input type="checkbox" id="checkboxThree" name="category[]" id="category_" value="Chemical Treatment"><label for="checkboxThree">Chemical Treatment</label></li>
    <li><input type="checkbox" id="checkboxFour" name="category[]" id="category_" value="Protection"><label for="checkboxFour">Protection</label></li>
  </ul>
<!-- </form>
<form>
    <div class="checkbox">
      <input type="checkbox" name="category[]" id="category_" value="Natural">
      Natural
    </div>
    <div class="checkbox">
      <input type="checkbox" name="category[]" id="category_" value="Artificial">
      Artificial
    </div>
    <div class="checkbox">
      <input type="checkbox" name="category[]" id="category_" value="Chemical treatment">
      Chemical treatment
    </div>
    <div class="checkbox">
      <input type="checkbox" name="category[]" id="category_" value="Protection">
      Protection
    </div> -->
  <input type="submit" name="commit" value="Filter" class="btn btn-secondary filter-btn" data-disable-with="Filter" data-anchor="filter-fixed">
</form>

 <!--      <%= form_tag contents_path, method: :get do %>
      <h4>Filter by category</h4>
      <fieldset class="radio_buttons required content_content_type">
        <div id="category">
          <fieldset class="form-group radio_buttons optional content_content_type">
            <input type="hidden" name="category[]" value="">
            <div class="form-check2 form-check-inline">
              <input class="content-type-input hidden" type="radio" value="Natural" name="category[]">
              <label class="content-type-label">
              Natural
              </label>
            </div>
            <div class="form-check2 form-check-inline">
              <input class="content-type-input hidden" type="radio" value="Artificial" name="category[]">
              <label class="content-type-label">
              Artifical
              </label>
            </div>
            <div class="form-check2 form-check-inline">
              <input class="content-type-input hidden" type="radio" value="Chemical Treatment" name="category[]">
              <label class="content-type-label">
              Chemical Treatment
              </label>
            </div>
            <div class="form-check2 form-check-inline">
            <input class="content-type-input hidden" type="radio" value="Protection" name="category[]">
              <label class="content-type-label">
              Protection
              </label>
            </div>
          </fieldset>
        </div>
      </fieldset>
      <%= submit_tag "Filter", class: "btn btn-secondary filter-btn" %>
    <% end %>
 -->

<h4 class="border-bottom border-secondary filter-header">STYLE</h4>
<%= form_tag contents_path, method: :get do %>
   <div class="category-choices-index2">
      <% Content::STYLES.each do |style| %>
        <div class="vertical-choice">
          <input type="checkbox" class="hidden" value="<%= style %>" name="content[style][]" id="post_category_ids_<%= style %>">
          <label for="post_category_ids_<%= style %>" class="category-choice small-category-choice" style='background-image: url(<%=image_path "icons/#{style.downcase.gsub(' ', '_')}.jpg"%>)'>
          <p class="label-text1"> <%= style %> </p>
          </label>
          <!-- <span class="label-text"><%= style %></span> -->
          <!-- <p class="label-text1"> <%= style %> </p> -->
        </div>
      <% end %>
    </div>
  <%= submit_tag "Filter", class: "btn btn-secondary filter-btn", remote: true, anchor:"filter-fixed" %>
<% end %>

<!--
<h4>Filter by content type</h4>
<%= form_tag contents_path, method: :get do %>
  <% Content::CONTENT_TYPES.each do |content_type| %>
    <div class="checkbox">
      <%= check_box_tag "content_type[]", content_type %>
      <%= content_type %>
    </div>
  <% end %>
  <%= submit_tag "Filter", class: "btn btn-secondary filter-btn" %>
<% end %>
-->

<%= link_to 'All results', contents_path %>
</div>
