<div class="pages-container">
  <div class="video_show_container">
    <h1><%= @content.title %></h1>

    <div class="user">
      <p><%= @content.user.username %></p>
      <% if current_user&.favorited?(@content) %>
        <%= link_to unfavorite_content_path(@content) do%>
        <i class="fas fa-heart"></i>
      <% end %>
      <% elsif current_user %>
          <%= link_to favorite_content_path(@content) do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  
    <div class="video d-flex justify-content-center">
      <iframe width="560" height="315" src="<%= @content.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="text mt-4">
      <p><%= @content.description%></p>
    </div>
   
  </div>
</div>
