
<div class="dashboard_container">
  <div class="pages-container">
  <h1>Dashboard</h1>

  <div class="uploads_and_favourites row">
    <div class="my-uploads col-6">
      <h2>My Uploads</h2>
      <!-- Uploads iterator -->
      <% if current_user.contents.empty? %>
      <p>No uploads yet</p>
      <% else %>
        <% current_user.contents.each do |content| %>
          <div class="card-product my-3">
            <% if content.content_type == "Video"%>
              <img src=<%= content.thumbnail_url%> >
            <% elsif content.content_type == "Blog post" && content.blog_image.attached?%>
              <%= cl_image_tag content.blog_image.key, width: 300 %>
            <% end %>
            <div class="card-product-infos">
              <h4><%= content.title %></h4>
              <p><em>Uploaded by <strong> you </strong></em></p>
                <div class="links">
                  <p>
                    <% if policy(content).show? %>
                      <%= link_to 'Show', content %>
                    <% end %>
                  </p>
                  <p>
                    <% if policy(content).update? %>
                      <%= link_to 'Edit', edit_content_path(content) %>
                    <% end %>
                  </p>
                  <p>
                    <% if policy(content).destroy? %>
                      <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="my-favourites col-6">
      <h2>My Favourites</h2>
      <!-- Favourites iterator -->
      <% if current_user.favorites.empty?%>
        <p>No favourites yet</p>
      <% else %>
        <% current_user.favorites.each do |favorite| %>
          <div class="card-product my-3">
            <% if favorite.favoritable.content_type == "Video"%>
              <img src=<%= favorite.favoritable.thumbnail_url%> >
            <% elsif favorite.favoritable.content_type == "Blog post" && favorite.favoritable.blog_image.attached?%>
              <%= cl_image_tag favorite.favoritable.blog_image.key, width: 300 %>
            <% end %>

             <div class="card-product-infos">
              <h4><%= favorite.favoritable.title %></h3>
              <div class="links">
                <p>
                  <% if policy(favorite.favoritable).show? %>
                    <%= link_to 'Show', favorite.favoritable %>
                  <% end %>
                </p>
                <p>
                  <% if policy(favorite.favoritable).update? %>
                    <%= link_to 'Edit', edit_content_path(favorite.favoritable) %>
                  <% end %>
                </p>
                <p>
                  <% if policy(favorite.favoritable).destroy? %>
                    <%= link_to 'Destroy', favorite.favoritable, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="links">
    <p><%= link_to 'Upload content', new_content_path, class: "btn btn-secondary" %></p>
  </div>
  </div>
</div>

