
<div class="dashboard-container">

  <div class="all-dash-col">

    <div class="dash-col" id="profilecard">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <p>Profile</p>
      </div>
      <div class="profilecardsticky">
        <br>
        <% if current_user.profile_pic.attached? %>
            <%= cl_image_tag current_user.profile_pic.key, class: "profilecardimage"%>
        <% else %>
            <%= image_tag "placeholder.jpg" %>
        <% end %>
        <h3 id="username"><%= current_user.username.upcase %></h3>
      </div>
    </div>

    <div class="dash-col" id="my-uploads">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <p>Uploads</p>
      </div>
      <div class="dashboard-links">
        <p><%= link_to 'Upload new content', new_content_path, class: "btn btn-secondary", id: "btn-upload" %></p>
      </div>
        <!-- Uploads iterator -->
      <% if current_user.contents.empty? %>
        <p>No uploads yet</p>
      <% else %>
        <% current_user.contents.each do |content| %>

          <div class="card-product">
            <%= link_to content_path(content) do %>

              <% if content.content_type == "Video"%>
                <img src=<%= content.thumbnail_url%> >
              <% elsif content.content_type == "Blog post" && content.blog_image.attached?%>
                <%= cl_image_tag content.blog_image.key, width: 300 %>
              <% end %>

              <div class="card-product-infos">
                <h4><%= content.title %></h4>
                <p><em>Uploaded by <strong> you </strong></em></p>
                <div class="links">
                  <p>
                    <% if policy(content).update? %>
                      <%= link_to 'Edit', edit_content_path(content) %>
                    <% end %>
                  </p>
                  <p>
                    <% if policy(content).destroy? %>
                      <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </p>
                </div>
              </div>

            <% end %>
          </div>

        <% end %>
      <% end %>
    </div>

    <div class="dash-col" id="my-favourites">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        <p>Favourites</p>
      </div>
      <!-- Favourites iterator -->
      <% if current_user.favorites.empty?%>
        <p>No favourites yet</p>
      <% else %>

        <% current_user.favorites.each do |favorite| %>

          <div class="card-product my-3">
            <%= link_to content_path(favorite) do %>


            <% if favorite.favoritable.content_type == "Video"%>
              <img src=<%= favorite.favoritable.thumbnail_url%> >
            <% elsif favorite.favoritable.content_type == "Blog post" && favorite.favoritable.blog_image.attached?%>
              <%= cl_image_tag favorite.favoritable.blog_image.key, width: 300 %>
            <% end %>

            <div class="card-product-infos">
              <h4><%= favorite.favoritable.title %></h4>
              <p><em>Uploaded by <strong> <%= favorite.favoritable.user.username %> </strong></em></p>

              <div class="links">
                <p>
                  <%= link_to unfavorite_content_path(favorite) do %>
                    <i class="fas fa-heart" id="small-heart"></i>
                  <% end %>
                </p>
              </div>
            </div>

            <% end %>
          </div>

        <% end %>

      <% end %>
    </div>

  </div>

</div>

