<!-- <div> -->
  <!-- <h1 class="home-h1">The Healthy Hair Hub</h1> -->
  <%#= link_to "Find Your Style", contents_path, class: "btn btn-primary" %>


 <div class="carousel-group">
    <div class="carousel-container">


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "First slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Second slide", class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Third slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "First slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Second slide", class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Third slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "First slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Second slide", class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'https://dmrqkbkq8el9i.cloudfront.net/Pictures/780xany/1/2/2/175122_haircare_51056.jpg', alt: "Third slide", class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>




      </div>
    </div>
  </div>
<!-- </div> -->
