<% content_for :meta_title, "The Healthy Hair Hub - A community for styling Afro-Caribbean hair" %>
<% content_for :meta_description, "We share tips and tricks to help you learn to take care of your hair at home" %>
<% content_for :meta_image, "cover.png" %>

<div class= "homepage">
  <h1 class="home-h1">The Healthy Hair Hub</h1>
  <%= link_to "Find Your Style", contents_path, class: "btn home-button" %>


 <div class="carousel-group">
    <div class="carousel-container">


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;" >
            <%= image_tag 'begindreds.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;" >
            <%= image_tag 'braid.jpg', class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;" >
            <%= image_tag 'eyesclosed.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;" >
            <%= image_tag 'afrowind.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;" >
            <%= image_tag 'field.jpg', class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;" >
            <%= image_tag 'short.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>


      <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style=" height: 100vh;" >
            <%= image_tag 'flower.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;" >
            <%= image_tag 'headscarf.jpg', class: "slide-image"%>
              <div class="carousel-caption" class="text-left">
                <h5></h5>
                <p></p>
              </div>
          </div>
          <div class="carousel-item" style=" height: 100vh;">
            <%= image_tag 'dreadlocks.jpg', class: "slide-image"%>
              <div class="carousel-caption">
                <h5></h5>
                <p></p>
              </div>
          </div>
        </div>
      </div>




      </div>
    </div>
  </div>

