<!DOCTYPE html>
<html>
  <head>
    <title>The Healthy Hair Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="page-ref">
    <div class="nav-body">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    </div>
    <div>
    <%= yield %>
    </div>
    <% unless @hide_footer %>
    <div>
    <%= render 'shared/footer'%>
    </div>
    <% end %>

  </div>
  </body>
</html>
